.dashboard{
    margin: var(--navbar-offset) auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: var(--container-width-full);
    padding: var(--spacing-sm);
}

.sidebar{
    background-color: var(--background-gray);
    height: 100vh;
    border-radius: var(--border-radius-xs);
}

.dashboard h1, .dashboard h2, .dashboard h3, .dashboard h4{
    color: var(--primary-dark);
}

.sidebar_list_options{
    margin-top: var(--button-size-square);
}

.sidebar_list_options li{
    font-weight: var(--font-weight-medium);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--primary-color);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-md);
}

.sidebar_list_options a{
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
}

.active, .sidebar_list_options li:hover {
    background-color: var(--background-blue-light-alpha);
}

.linkName{
    font-weight: var(--font-weight-medium);
}

.sidebar_list_options a:hover{
    text-decoration: none;
}

.info_dashboard{
    padding: var(--spacing-sm);
}

/*cart page, order page, profile  page styles*/
.cartContainer{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.cartContainer a{
    width: fit-content;
}

.ordersListContainer{
    width: var(--container-width-full);
    display: grid;
    grid-template-columns: var(--grid-columns-2);
    grid-auto-rows: auto;
    grid-gap: var(--spacing-base);
}

.error-container-standard h2, .error_updating_info {
    color: var(--error-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}

.notUserOrdersMessage{
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr 11fr;
    }

    .sidebar {
        margin-top: var(--button-size-square);        
        align-items: center;
        width: var(--container-width-full);
        height: auto;
    }

    .sidebar h2 {
        display: none;
    }    

    .sidebar_list_options a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ordersListContainer{
        grid-template-columns: 1fr;
    }

}