/*profile cards*/

.profile_info_container span{
    font-weight: var(--font-weight-medium);
}

.profile_info_container p{
    line-height: var(--line-height-normal);
}

.profile_info_subcontainer, .profile_info_details_container, .profile_addresses_subcontainer{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}
.subcontainer_info_details{
    width: var(--container-width-full);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: var(--spacing-base);
}
.profile_info_details_container{
    border: var(--border-primary);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-sm);
}
.profile_info_edition_buttons{
    display: flex;
    gap: var(--spacing-sm);
}

.notUserInfoMessage{
    color: var(--text-color);
}


@media screen and (max-width: 768px) {
    .subcontainer_info_details{
        grid-template-columns: 1fr;
    }
}