/*order card component styles*/

.order_details_subcontainer p{
    color: rgb(58, 57, 57);
    line-height: 2;    
}
.order_details_subcontainer span{
    font-weight: 600;    
}

.order_details_subcontainer button{
    width: 100px;
    background-color: #0068a0cc;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.order_details_subcontainer button:hover{
    background-color:#0067a0;
}

/*Order Info*/
.orderInfo_container, .order_details_subcontainer, .orderInfo_subcontainer, .ordered_items_container, .ordered_items{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 0.85px solid #0068a09f;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.orderInfo_container, .ordered_items_container, .ordered_items{
    border:none;
    gap: 0.5rem;
}

.ordered_items_container, .ordered_items{
    padding: 0;
}

.orderInfo_container button{
    width: 100px;
    background-color: #0068a0cc;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.orderInfo_container button:hover{
    background-color:#0067a0;
}
.orderInfo_container button[disabled] {
    background-color: rgb(190, 189, 189);
}

.orderInfo_subcontainer p{
    font-size: 0.875rem; 
    color: #2b2a2a;    
}

.notUserOrdersMessage{
    color: #424242;
}


