/*order card component styles*/
.order_details_subcontainer p{
    color: var(--text-color);
    line-height: var(--line-height-normal);    
}
.order_details_subcontainer span{
    font-weight: var(--font-weight-medium);    
}
/*Order Info*/
.order_details_subcontainer, .orderInfo_subcontainer{
    border: var(--border-primary);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-sm);
}

.orderInfo_container, .ordered_items_container, .ordered_items{
    padding: var(--spacing-sm);
}

.orderInfo_subcontainer p{
    font-size: var(--font-size-base); 
    color: var(--text-light);    
}

.notUserOrdersMessage{
    color: var(--text-color);
}

@media screen and (max-width: 468px) {
    .orderInfo_subcontainer h3{
        font-size: var(--font-size-base);    
    }   
}


