
.spinner {
    border: 8px solid rgba(0, 0, 255, 0.151); /* Light blue border */
    border-top: 8px solid var(--primary-color); /* Blue color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .paginationButton{
    margin: 0.25rem;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: var(--font-size-small);
    font-weight: var( --font-medium-weight);  
  }

.paginationButton:hover{
    background-color: var( --hover-primary-color);
    color: var(--text-hover-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.692);
  z-index: 1000;
}

.content{
  position: fixed;
  top: 25%;
  left: 15%;
  right: 15%;
  width: 70%;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #fff;
  overflow: 'auto';
  border-radius: 4px;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1100;
}

.modalEditButton, .modalDeleteButton, .cancelModalButton, .delete_button, .button_sign_in_modal{
  width: 80px;
  border: none;
  border-radius:var(--border-radius-buttons);    
  cursor: pointer;
  color: white;
  font-weight: var(--font-medium-weight);
  font-size: var(--font-size-small);
  padding: 0.4rem;
}

.button_sign_in_modal{
  pointer-events: auto;
  height: 1rem;  
}

.delete_button{
  width: fit-content;
}

.modalDeleteButton, .delete_button{
  background-color:var( --cancel-color);
}
.modalEditButton, .cancelModalButton, .button_sign_in_modal{
  background-color:var(--primary-color);
}

.modalEditButton:hover, .cancelModalButton:hover, .button_sign_in_modal:hover{
  background-color: var(--hover-primary-color);
  color: var(--text-hover-color)
}

.modalDeleteButton:hover, .delete_button:hover{
  background-color: var(--cancel-hover-color);
  color: var(--cancel-text-hover-color)
}

.modalButtons{
  display: flex;
  gap: 1rem;
}

.recover_modalText{
  color: var(--text-color);
  font-size: var(--font-size-large);
  font-weight: var(--font-medium-weight);
}

/*skeletong for loading a product*/
.skeletonProductContainer, .skeletonCheckoutContainer{
  width: 100%;
  height: 80dvh;
  margin: 0 auto;
  display: flex;
  gap: 1rem;  
}

.skeletonProductsListContainer{
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.loadingProduct{
  height: 500px;
}

.skeletonCheckoutContainer{
  height: 100dvh;
}

.skeletonOrderContainer, .loadingPersonalInfo, .loadingCartInfo{
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  gap: 1rem
}

.loadingPersonalInfo, .loadingCartInfo{
  width: 50%;
}

.loadingProductImage{
  width: 40%; 
}

.loadingProductInformation{
  width: 60%;
}

.loadingProductCheckout{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.loadingProductImage, .loadingProduct, .loadingProductInformation, .loadingOrderNumber, .loadingPersonalInfo, .loadingProductCheckout{
  background-color: rgba(235, 234, 234, 0.993);
  border-radius: 5%;  
}

/*recover password button*/
.recover_password_link{
  border: none;
  background: none;
  background-color: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 0.825rem;
  line-height: 1.5rem;
  font-weight: var(--font-large-weight);
}

.recover_password_link:hover{
  text-decoration: underline;
}

.sent_email_confirmation{
  color: var(--text-error-color);
  font-size: 0.85rem;
  font-weight: var(--font-large-weight);
}

@media screen and (max-width: 468px) {
  .content{
    width: 90%;   
    left: 5%;
    right: 5%;
  }   
  .skeletonCheckoutContainer{
    flex-direction: column;
  } 
  .loadingCartInfo, .loadingPersonalInfo{
    width: 100%;
  }
}

@media (max-width: 430px) {
  .skeletonProductsListContainer{   
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}