/*Small and Large screen navigation styles*/

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
    height: 73px;
    padding: 0 0.5rem;
}

/* ModalStyles.module.css */
.backdrop {
    position: fixed;
    top: 73px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.logo_container{
    border-right: 1px solid rgb(255, 255, 255);
}
.navbar_options{
    gap: 1rem;
    height: 100%;
}
.navbar, .navbar_options {
    display: flex;
    justify-content: space-between;
    background-color: #0067a0;
    align-items: center;
}

.menu_button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;  
    cursor:pointer;    
}

.menu_button span{
    color: white;
    font-weight: 300;       
}
.menu_button:hover{
    background-color: #25a3e798;
    border-radius: 0.5rem;
}
.menu_button_li{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.8s;
}

.menu_button:hover span{
    font-weight: 400;
    text-decoration: underline;
}

.menu_button:hover #arrow_down svg  {
    transform: rotate(180deg); 
}

.menu_button_secondary, .small_screen_navbar{
    display: none;    
}

.searchBar_container{
    flex-basis: 40%
}

.search_container{
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    
}
.search_container input{
    border: none;
    padding-left: 0.5rem;
}
.search_container input:focus{
    outline: none; 
}
.search_container input::placeholder {
    color: #686666; 
    font:400; 
    opacity: 0.5; 
}

.auth_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* menu dropdown styles */
.dropdown_menu, .search_dropdown_menu{
    position: absolute;
    top: 73px;
    left:80px;
}

.dropdown_menu_unauthenticated, .dropdown_menu_authenticated{
    position: absolute;
    top: 73px;
    right:5px;
    gap: 0.5rem;
}

.dropdown_menu, .dropdown_menu_unauthenticated, .dropdown_menu_authenticated, .search_dropdown_menu{
    background-color: rgb(245, 245, 245);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px 2px rgba(97, 97, 97, 0.75);
    -webkit-box-shadow: 0px 2px 4px 2px rgba(97, 97, 97, 0.75);
    -moz-box-shadow: 0px 2px 4px 2px rgba(97, 97, 97, 0.75);
}

.dropdown_menu_authenticated{
    width: 250px;
}

.dropdown_menu_authenticated_cart{
    width: 300px;
    height: 88svh;
    overflow-y: scroll;
    z-index: 1;
}


.search_dropdown_menu{
    width: 60vw;
    left: 20vw;
    right: 20vw;
    align-items: self-start;
}

.searchResults{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 0.5rem;
}


.dropdown_menu_category_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 1rem; 
}

.dropdown_menu_category_box{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 1rem; 
}

.dropdown_menu h3{
    color: rgb(58, 57, 57);
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 0;        
}

.dropdown_menu_category_list li:hover, 
.dropdown_menu_phone_version_options a:hover,
.dropdown_menu_flowell_list a:hover,
.dropdown_menu_unauthenticated_options_list a:hover{
    color: #1b1b1b;
    text-decoration: underline;    
}

.dropdown_menu_flowell_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown_menu_phone_version_options{
    display: flex;
    gap: 1rem;   
}

.dropdown_menu_phone_version_options a, 
.dropdown_menu_category_list, 
.dropdown_menu_unauthenticated_options a,
.searchResults a
{
    color: #646363;
    font-size: 0.85rem;
    line-height: 1.5rem;         
}

.dropdown_menu_unauthenticated_phone{
    gap: 2rem;
}

.dropdown_menu_unauthenticated_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.dropdown_menu_unauthenticated_options p{
    color: #161616;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;         
}

.dropdown_menu_separator{
    color: rgb(56, 56, 56);
    font-size: 3rem;
    font-weight: 100;
}

.button_sign_in, .button_log_out{
    width: 80px;
    border-radius: 0.5rem; 
    height: 1.5rem;
    background-color:#0067a0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.button_sign_in:hover, .button_log_out:hover {
    background-color:#0f80bd;
}

.itemNumber{
    font-size: 0.8rem;
}

.dropdown_menu_total_cart {
    font-size: 1rem;
    color:#0067a0;
}


@media screen and (max-width: 790px) {    
    .menu_button_secondary{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .menu_button_primary, #arrow_down, .large_screen_navbar{
        display: none;
    }
    
    .small_screen_navbar{
        display: flex;
        justify-content: space-between;
    }
    .dropdown_menu, .search_dropdown_menu{      
        left: 0;
        width: 100%;
        align-items: flex-start;
    }
    .dropdown_menu_unauthenticated{
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;   
    } 
    .button_log_out{
        width: 50px;
    } 
}
