.checkoutDashboard{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkoutProducts{
  padding: var(--spacing-sm);
}

.checkoutProducts a{
  width: fit-content;
}

.checkoutProducts h3{
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  color: var(--primary-color);
}

@media (max-width: 820px) {
  .checkoutDashboard{
    grid-template-columns: 1fr;
  }  
}
  