/* PRODUCT INFORMATION STYLES */
.main_info_container{
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: auto; 
    gap: 1rem; 
}

.all_images_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#price_presentation{
    padding-top: 1rem;
    color: #0067a0;
    font-weight: 600;
    font-size: 1.5rem; 
}

.main_info_container h1{
    font-size: 1.5rem; 
    color: #424242;
    font-weight: 600;   
}

.main_info_container h3, .main_info_container h4, .main_info_container p, .main_info_container li{
    font-size: 0.875rem; 
    color: #424242; 
}

.main_info_container span{
    font-weight: 400;
}

.mini_images_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main_image_container{
    position: relative;
    width: 500px; /* Ensure it takes full width */
    height: 500px; /* Define the desired height */
}

.product_info_container{
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
}

.product_presentation_container, .product_charact_container{
    border-bottom: 1px solid #c9c7c7;
    padding-bottom: 0.25rem;
}


@media (max-width: 1064px) {    
    .main_image_container{
        width: 450px; /* Ensure it takes full width */
        height: 450px; /* Define the desired height */
        min-width: 250px;
    }    
}


@media (max-width: 853px) {    
    .main_image_container{
        width: 350px; /* Ensure it takes full width */
        height: 350px; /* Define the desired height */
    }    
}

@media (max-width: 768px) {
    .main_info_container{
        grid-template-columns: 1fr;   
    } 
    .all_images_container{
        flex-direction: row;
    }
    .mini_images_container{
        flex-direction: column;
    }
        
}

@media (max-width: 512px) {
    .all_images_container{
        flex-direction: column;
        align-items: center;
    }
    .mini_images_container{
        flex-direction: row;
    }        
}

@media (max-width: 425px) {
    .main_info_container{
        grid-template-columns: 1fr;  
    } 
    .product_info_container{
        grid-column: span 1; 
    }      
    .view_product_button{
        align-self: center;
    }
}

@media (max-width: 390px) {
    .main_image_container{
        width: 300px; /* Ensure it takes full width */
        height: 300px; /* Define the desired height */
    } 
}

/*PRODUCT CARD STYLES*/
.main_card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid #c9c7c7;
}

.image_card_container {
    position: relative; /* Required for the `fill` attribute */
    width: 320px; /* Ensure it takes full width */
    height: 320px; /* Define the desired height */
    min-width: 250px;
}

.product_card_info_container{
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
}

.main_card_container h1{
    font-size: 1rem; 
    color: #424242;
    font-weight: 600;
    
}
.main_card_container h4, .main_card_container p{
    font-size: 0.875rem; 
    color: #424242;
}
#price_card_presentation{
    font-size: 1.5rem;
    color: #161616;
    font-weight: 700;
}

.product_card_title_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.view_product_button{
    width: 100%;
    border-radius: 1rem; 
    height: 2rem;
    background-color:#0067a0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.view_product_button:hover{
    background-color:#0f80bd;
}

/*styles for product Cart information*/
.product_cart_maincontainer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    padding: 0.5rem;
    gap: 1rem;
    align-items: center;
}

.product_cart_menu_container{    
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
}

.productNameCartMenu p, .productSubtotalCartMenu{
    overflow-wrap: break-word;
    font-size: 0.75rem;
}

.product_cart_small_img{
    position: relative;
    width: 150px; /* Ensure it takes full width */
    height: 150px; /* Define the desired height */    
}

@media (max-width: 640px) {    
    .product_cart_maincontainer{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
    }        
}

@media (max-width: 384px) {    
    .image_card_container {
        width: 250px; /* Ensure it takes full width */
        height: 250px; /* Define the desired height */
        min-width: 200px;
    }   
}

