/* PRODUCT INFORMATION STYLES */
.paginationContainer{
    display: flex;
    margin: var(--spacing-auto);
}

.products_main_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--spacing-base);
}

.main_info_container{
    display: grid;
    grid-template-columns: var(--grid-product-layout); 
    grid-template-rows: auto; 
    gap: var(--spacing-base); 
}

.all_images_container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

#price_presentation{
    padding-top: var(--spacing-base);
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-3xl); 
}

.main_info_container h1{
    color: var(--text-color);
    font-size: var(--font-size-3xl);     
    font-weight: var(--font-weight-medium);   
}

.main_info_container h3, .main_info_container h4, .main_info_container p, .main_info_container li{
    font-size: var(--font-size-base); 
    color: var(--text-color); 
}

.main_info_container span{
    font-weight: var(--font-weight-normal);
}

.mini_images_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-base);
}

.main_image_container{
    position: relative;
    width: var(--image-size-xxl); /* Ensure it takes full width */
    height: var(--image-size-xxl); /* Define the desired height */
    animation: slideInFromTop 0.5s ease-out; /* Apply animation */
    opacity: 0; /* Start hidden */
    animation-fill-mode: forwards; /* Keep the final state after animation */
}


@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Start slightly above */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}


.product_info_container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.product_presentation_container, .product_charact_container{
    border-bottom: var(--border-light);
    padding-bottom: var(--spacing-xs);
}

.product_charact_container ul, .product_presentation_container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.details_container p, .product_presentation_container p{
    padding: var(--spacing-sm);
    width: fit-content;
    background-color: var(--background-blue-light);
    border-radius: var(--border-radius-md);
    color: aliceblue;
    font-weight: var(--font-weight-normal);
}


@media (max-width: 1064px) {    
    .main_image_container{
        width: var(--image-size-xl);
        height: var(--image-size-xl);
        min-width: var(--image-size-md);
    }    
}


@media (max-width: 853px) {    
    .main_image_container{
        width: var(--image-size-lg);
        height: var(--image-size-lg);
    }    
}

@media (max-width: 768px) {
    .main_info_container{
        grid-template-columns: 1fr;   
    } 
    .all_images_container{
        flex-direction: row;
    }
    .mini_images_container{
        flex-direction: column;
    }
        
}

@media (max-width: 512px) {
    .all_images_container{
        flex-direction: column;
        align-items: center;
    }
    .mini_images_container{
        flex-direction: row;
    }        
}

@media (max-width: 425px) {
    .main_info_container{
        grid-template-columns: 1fr;  
    } 
    .product_info_container{
        grid-column: span 1; 
    }      
    .view_product_button{
        align-self: center;
    }
}

@media (max-width: 390px) {
    .main_image_container{
        width: 300px; /* Ensure it takes full width */
        height: 300px; /* Define the desired height */
    } 
}

/*PRODUCT CARD STYLES*/
.main_card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid #c9c7c7;
    
}



.image_card_container {
    position: relative; /* Required for the `fill` attribute */
    width: 320px; /* Ensure it takes full width */
    height: 320px; /* Define the desired height */
    min-width: 250px;
    animation: slideInFromTop 0.5s ease-out; /* Apply animation */
    opacity: 0; /* Start hidden */
    animation-fill-mode: forwards; /* Keep the final state after animation */
}


@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Start slightly above */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}

.product_card_info_container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.main_card_container h1{
    font-size: var(--font-size-lg); 
    color: var(--text-color);
    font-weight: var(--font-weight-medium);
}
.main_card_container h4, .main_card_container p{
    font-size: var(--font-size-base); 
    color: var(--text-color);
}
#price_card_presentation{
    font-size: var(--font-size-3xl);
    color: var(--text-accent);
    font-weight: var(--font-weight-bold);
}

.product_card_title_container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.view_product_button{
    width: var(--container-width-full);
    border-radius: var(--border-radius-md); 
    height: var(--button-height-md);
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    color: var(--background-white);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
}

.view_product_button:hover{
    background-color: var(--primary-hover);
}

/*styles for product Cart information*/
.product_cart_maincontainer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    padding: var(--spacing-sm);
    gap: var(--spacing-base);
    align-items: center;
    justify-items: start;
}

.product_cart_menu_container{    
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
}

.productNameCartMenu p, .productSubtotalCartMenu{
    overflow-wrap: break-word;
    font-size: var(--font-size-md);
}

.product_cart_small_img{
    position: relative;
    width: 150px; /* Ensure it takes full width */
    height: 150px; /* Define the desired height */    
}

/*add filters*/
.filter_sort_buttons_container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.button_sort_and_filter{
    width: 80px;
    border-radius: 1rem; 
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    background-color:white;
    border: 1px solid rgb(197, 197, 197);
    cursor: pointer;
    color: rgb(58, 57, 57);
    font-weight: 600;
    font-size: 0.825rem;
    transition: transform 0.3s;
}
.button_sort_and_filter svg{
    vertical-align: middle;
}

.button_sort_and_filter:hover svg {
    transform: rotate(180deg);
}

.button_sort_and_filter:hover{
    color: #1dabf8;
    background-color: #52bbf325;
}

@media (max-width: 640px) {    
    .product_cart_maincontainer{
        grid-template-columns: auto;
    }        
}

@media (max-width: 384px) {    
    .image_card_container {
        width: 250px; /* Ensure it takes full width */
        height: 250px; /* Define the desired height */
        min-width: 200px;
    }   
}

