.banner{
    margin-top: var(--navbar-offset);
}

.bannerGrid{
    margin: var(--spacing-base) auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    
}
.mainBody{
    min-height: var(--container-height-full);
}

@media screen and (max-width: 768px) {
    .bannerGrid{
        grid-template-columns: 1fr; 
        gap: var(--spacing-lg);
        
    }
}


