.banner{
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bannerGrid{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    
}
.mainBody{
    min-height: 100dvh;
}

@media screen and (max-width: 768px) {
    .bannerGrid{
        grid-template-columns: 1fr; 
        gap: 1.5rem;
        
    }
}


