.main_container{
    margin-top: var(--navbar-offset);
    padding: var(--spacing-base) var(--spacing-3xl);
}

.main_container span{
    font-weight: var(--font-weight-normal);
}

.products_main_container{
    display: grid;
    grid-template-columns: var(--grid-columns-auto);
    gap: var(--spacing-base);
}

.paginationContainer{
    display: flex;
    margin: 0 auto;
}

.filter_sort_buttons_container{
    display: flex;
    justify-content: space-between;
}

  .error-container-standard h2{
    color: var(--error-color);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
  }

.error_updating_info {
    color: var(--error-color);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
}
    

@media (max-width: 430px) {
    .main_container {
        padding: var(--spacing-base);
    }
    .products_main_container{   
        grid-template-columns: var(--grid-columns-auto-sm);
    }
}