.footer_main_container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    padding: var(--spacing-2xl);
    background-color: var(--background-gray-medium);
}

.footer_main_container h3{
    font-size: var(--font-size-2xl);
}

.footer_products, .footer_contact, .footer_resources{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: var(--line-height-normal);
    font-size: var(--font-size-md);
    color: var(--text-link);
    gap: var(--spacing-base);
}

.footer_products a:hover, .footer_contact a:hover, .footer_resources a:hover{
    text-decoration: underline;
}

.social_icons,.logo_icon{
    display: flex;
    gap: var(--spacing-base);
    align-items: center;
}

.logo_icon{
    gap: var(--spacing-xs);
}

.logo_icon p{
    font-size: var(--font-size-2xl);
    color: var(--text-link);
    font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 768px) {
    .footer_main_container{
        grid-template-columns: 1fr 2fr;
        padding: var(--spacing-base);
        gap: var(--spacing-base);
    }

    .footer_main_container h3{
        font-size: var(--font-size-lg);
    }

    .footer_products, .footer_contact, .footer_resources{
        line-height: var(--line-height-tight);
    }
}