.section_blog_containers{
    margin: 73px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding-top: 2rem;
    line-height: 2rem;
}

.section_blog_containers h1, .section_blog_containers h2{
    text-align: center;
    line-height: 3rem;
    font-weight: 400;
}

.section_blog_containers h2{
    font-size: 1.5rem;
    color: black;
}

.section_blog_containers span{
    font-weight: 500;
    align-self: self-start;
}

.instructions_card{
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.section_blog_containers h1 > span{
    font-weight: 500;
}

.blog_instructions_text {
    color:red
}

@media screen and (max-width: 768px){
    .section_blog_containers{
        width: 80%;
    }
    
}
