/*big banner / slider styles*/
.banner_container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.embla {
    overflow: hidden;
}
.embla_container {
    display: flex;
    width: var(--container-width-full);
    margin-top: 16px;
    
}
.embla_slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    justify-content: center;  
}

.embla_slide_img_container{
    flex: 0 0 100%;
}

.banner_text_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding-left: var(--spacing-xl);
    gap: var(--spacing-xl);
}

.banner_text_image h2{
    font-size: var(--font-size-5xl);
}

.banner_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.embla_button{
    border-radius: var(--border-radius-full);
    cursor: pointer;
}

.embla_button:hover{
    background-color: var(--background-light);
}
.emblaDots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-base);
}

.emblaDot {
    appearance: none;
    background-color: none;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-full);
}
.emblaDot:after {
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    border-radius: var(--border-radius-full);
    display: flex;
    align-items: center;
    content: '';
}
.emblaDotSelected:after {
    box-shadow: var(--box-shadow-inset);
    background-color: black;
}


@media screen and (max-width: 792px) {
    .embla_button{
        display: none;
    }

    .banner_informative_container h3{
        font-size: var(--font-size-lg);
    }
}

@media screen and (max-width: 679px) {
    .embla_slide_img_container{
        flex: 0 0 100%;
    }
}

/*CATEGORY CARROUSEL*/
.categories_container{
    width: var(--container-width-lg);
    margin: var(--spacing-xl) auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-plus);
}

.embla_container_categories{
    display: flex; 
}

.embla_slide_category{
    flex: 0 0 33%;
    min-width: 0;
    display: flex;
    justify-content: center; 
}

.embla_slide_img_category_container{
    flex: 0 0 80%;
    gap: var(--spacing-plus);
    color: var(--primary-color);
    text-align: center;
}

.embla_slide_img_category_container a{
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
}

.embla_slide_img_category_container a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .categories_container{
        width: var(--container-width-xl);
    }
}

@media screen and (max-width: 692px) {
    .embla_slide_category{
        flex: 0 0 45%;
        min-width: 0;
        display: flex;
        justify-content: center; 
    }   
}

/*banner informative*/

.banner_informative_container, .banner_info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    align-items: center;
}

.banner_informative_container h3, .banner_informative_container p{
    color: var(--text-gray-medium);
}

.banner_informative_container p{
    font-weight: var(--font-weight-normal);
}

.banner_info{
    padding: var(--spacing-base);
    border: var(--border-light-gray);
    border-radius: var(--border-radius-md);
}

.banner_info_registration a{
    color: var(--primary-color);
    font-size: var(--font-size-md);
    line-height: var(--line-height-tight);  
}

.banner_info_registration a:hover{
    color: var(--text-dark);
    text-decoration: underline;
}

.banner_informative_information{
    padding: var(--spacing-base);
    display: grid;
    gap: var(--spacing-base);
    grid-template-columns: var(--grid-columns-2);
    grid-template-rows: auto;
    align-items: stretch;
}

