/*Navegation styles*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
    height: 73px;
    padding: 0 1rem;
}
.logo_container{
    padding-right: 2rem;
    border-right: 2px solid rgb(255, 255, 255);
}
.navbar_options{
    gap: 1rem;
    height: 100%;
}
.navbar, .navbar_options {
    display: flex;
    justify-content: space-between;
    background-color: #0067a0;
    align-items: center;
}

.menu_button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;  
    cursor:pointer;    
}
.menu_button_li{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s;
}

.menu_button_li:hover #arrow_down svg  {
    transform: rotate(180deg); /* Rotar el SVG con id 'arrow-down' en 180 grados */
}

.menu_button_secondary{
    display: none;    
}

.search_container{
    flex-basis: 40%;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    
}
.search_container input{
    border: none;
    width: 100%;
    padding-left: 0.5rem;
}
.search_container input:focus{
    outline: none; 
}
.search_container input::placeholder {
    color: #999; 
    font:400; 
    opacity: 0.5; 
}

.auth_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_button span{
    color: white;
    font-weight: 600;       
}
.menu_button:hover{
    background-color: #25a3e798;
    border-radius: 0.5rem;
}
/* menu dropdown styles */
.dropdown_menu_display{
    display: none;
}

.dropdown_menu_display_show{
    display: block;
}

.dropdown_menu{
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 73px;
    left:80px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
}

.dropdown_menu h3, .dropdown_menu_unauthenticated_options h3{
    color: rgb(58, 57, 57);
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 0;        
}
.dropdown_menu_category_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 1rem; 
    padding: 1rem;   
}

.dropdown_menu_category_list li:hover, 
.dropdown_menu_phone_version_options a:hover,
.dropdown_menu_flowell_list a:hover,
.dropdown_menu_unauthenticated_options_list a:hover{
    color: #444343;  
    text-decoration: underline;    
}

.dropdown_menu_category_box{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 1rem; 
}


.dropdown_menu_flowell_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown_menu_phone_version_options{
    display: flex;
    gap: 1rem;   
}

.dropdown_menu_phone_version_options a, 
.dropdown_menu_category_list, 
.dropdown_menu_unauthenticated_options a
{
    color: #646363;
    font-size: 0.8rem;
    line-height: 1.5rem;         
}

.dropdown_menu_unauthenticated, .dropdown_menu_authenticated{
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: 73px;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    width: fit-content;
    max-width: 320px;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;    
}

.dropdown_menu_authenticated{
    width: 250px;
}

.dropdown_menu_unauthenticated_phone{
    gap: 2rem;
}

.dropdown_menu_unauthenticated_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.dropdown_menu_unauthenticated_options p{
    color: #161616;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;         
}

.dropdown_menu_separator{
    color: rgb(56, 56, 56);
    font-size: 3rem;
    font-weight: 100;
}

.button_sign_in, .button_sign_up, .button_cart{
    width: 100px;
    border-radius: 1rem; 
    height: 2rem;
    background-color:#0067a0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.button_sign_in:hover, .button_sign_up:hover, .button_cart:hover{
    background-color:#0f80bd;
}

@media screen and (max-width: 1000px) {
    .menu_button_secondary{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .menu_button_primary{
        display: none;
    }
    .navbar, .navbar_options {
        justify-content: space-around;
    } 
    .dropdown_menu{      
        left: 0;
        width: 50%;
    }
    .dropdown_menu_unauthenticated{
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .dropdown_menu_separator{
        display: none;
    }  
}

/*slider styles*/

.banner_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .banner_container {
        width: 95%;
    }
}

.embla {
    overflow: hidden;
}
.embla_container {
    display: flex;
    width: 100%;
    margin-top: 16px;
    
}
.embla_slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    justify-content: center;  
}

.embla_slide_img_container{
    flex: 0 0 90%;
}

.banner_text_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#0067a0;
    padding-left: 2rem;
    gap: 2rem;
}

.banner_text_image h2{
    font-size: 3rem;
}

.banner_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.embla_button{
    border-radius: 50%;
    cursor: pointer;
}

.embla_button:hover{
    background-color: rgb(241, 241, 241);
}

@media screen and (max-width: 792px) {
    .banner_container {
        width: 100%;
    }
    .embla_button{
        display: none;
    }
}

@media screen and (max-width: 679px) {
    .embla_slide_img_container{
        flex: 0 0 100%;
    }
}


/* PRODUCT INFORMATION STYLES */
.main_info_container{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr; 
    grid-template-rows: auto; 
    gap: 1rem; 
}

#price_presentation{
    padding-top: 1rem;
}

.main_info_container h1, #price_presentation{
    font-size: 2rem; 
    color: #424242;
    font-weight: 600;   
}

.main_info_container h3, .main_info_container h4, .main_info_container p, .main_info_container li{
    font-size: 0.875rem; 
    color: #424242; 
}

.main_info_container span{
    font-weight: 400;
}

.mini_images_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.main_image_container{
    width: 100%;
}

.product_info_container{
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
}

.product_presentation_container, .product_charact_container{
    border-bottom: 1px solid #c9c7c7;
    padding-bottom: 0.25rem;
}

.add_to_cart_form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.add_to_cart_form select{
    border: 1px solid #c9c7c7;
    padding: 0.85rem;
    border-radius: 0.5rem;
    color: #0067a0;
    font-weight: 700;
}

.add_to_cart_button{
    width: 80%;
    border-radius: 1rem; 
    height: 2rem;
    background-color:#0067a0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.add_to_cart_button:hover{
    background-color:#0f80bd;
}

/*PRODUCT CARD STYLES*/
.main_card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid #c9c7c7;
}

.product_card_info_container{
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
}

.main_card_container h1{
    font-size: 1rem; 
    color: #424242;
    font-weight: 600;
    
}
.main_card_container h4, .main_card_container p{
    font-size: 0.875rem; 
    color: #424242;
}
#price_card_presentation{
    font-size: 1.5rem;
    color: #161616;
    font-weight: 700;
}

.product_card_title_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.view_product_button{
    width: 100%;
    border-radius: 1rem; 
    height: 2rem;
    background-color:#0067a0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.view_product_button:hover{
    background-color:#0f80bd;
}

/*CATEGORY CARROUSEL*/
.categories_container{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.categories_buttons_container{
    display: flex;
    gap: 1rem;   
}

.embla_button_category{
    border-radius: 50%;
    cursor: pointer;
}

.embla_button_category:hover{
    background-color: rgb(241, 241, 241);
}

.title_categories_container{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.title_categories_container h2{
    color: #0067a0;
}

.embla_container_categories{
    display: flex; 
}

.embla_slide_category{
    flex: 0 0 33%;
    min-width: 0;
    display: flex;
    justify-content: center; 
}

.embla_slide_img_category_container{
    flex: 0 0 80%;
    gap: 1.25rem;
    color: #0067a0;
    text-align: center;
}

.embla_slide_img_category_container a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .categories_container{
        width: 95%;
    }
}

@media screen and (max-width: 692px) {
    .embla_slide_category{
        flex: 0 0 50%;
        min-width: 0;
        display: flex;
        justify-content: center; 
    }
    .embla_button_category{
        display: none;
    }
    .title_categories_container h2{
        font-size: 1.25rem;
    }
}

/*profile cards*/
.profile_info_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.profile_info_container span{
    font-weight: 600;
}
.profile_info_container button{
    width: 100px;
    background-color: #0068a0cc;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.profile_info_container button:hover{
    background-color:#0067a0;
}
.profile_info_container p{
    color: rgb(58, 57, 57);
    line-height: 2;
}
.profile_info_subcontainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.subcontainer_info_details{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.profile_info_details_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.85px solid #0068a09f;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.profile_info_edition_buttons{
    display: flex;
    gap: 0.5rem;
}
.profile_addresses_subcontainer{
    display: flex;
    flex-direction: column;
    gap:0.5rem
}
.notUserInfoMessage{
    color: #424242;
}

/*Forms to edit profile info*/
.edit_profile_main_container{
    width: 80%
}

.update_info_container, .update_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}


.update_form label{
    color: #066ea7;
    font-size: 0.75rem;
    font-weight: 700;
}

.update_form input{
    width: 200px;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(141, 141, 141);
    padding: 0.5rem;
}

.update_form input:focus{
    outline: none; 
}
.update_form input::placeholder {
    color: #8a8a8a; 
    font:400; 
    opacity: 0.5; 
}
.update_form_input_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.update_button, .cancel_update_button{
    width: 100px;
    border-radius: 1rem; 
    height: 2rem;
    background-color:#0067a0;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 0.75rem;
}

.update_button:hover, .cancel_update_button:hover{
    background-color:#0f80bd;
}

.error_updating_info{
    color: #ee0707;
    font-size: 0.75rem;
    font-weight: 700;
}

.buttons_profile_container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    
}

/*order card component styles*/
.order_details_subcontainer{
    display: flex;
    flex-direction: column;
    gap:0.5rem
}

.order_details_subcontainer p{
    font-size: 0.875rem; 
    color: #2b2a2a;    
}
.order_details_subcontainer span{
    font-weight: 700;    
}

.order_details_subcontainer button{
    width: 100px;
    background-color: #0068a0cc;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.order_details_subcontainer button:hover{
    background-color:#0067a0;
}

/*Order Info*/
.orderInfo_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.orderInfo_container button{
    width: 100px;
    background-color: #0068a0cc;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.orderInfo_container button:hover{
    background-color:#0067a0;
}
.orderInfo_container button[disabled] {
    background-color: rgb(190, 189, 189);
}
.orderInfo_subcontainer{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.orderInfo_subcontainer p{
    font-size: 0.875rem; 
    color: #2b2a2a;    
}

/*banner flower care*/

.banner_flower_care{
    width: 60%;
    margin: 0 auto;
}